<ion-header>
  <ion-toolbar>
    <ion-title>
      <a routerLink="/tabs/dashboard">
        <ion-icon name="apps"></ion-icon>
        <span>Dashboard</span>
      </a>
      <span> | Random Challenge
        {{ currentIteration <= totalIterations && '('+currentIteration+'/'+totalIterations+')' || ' Results' }}
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- questions -->
  <app-show-question *ngIf="currentIteration <= totalIterations"
    [question]="question" [answer]="userValue">
  </app-show-question>

  <!-- results -->
  <ion-row *ngIf="currentIteration > totalIterations">
    <app-show-results
      [timeElapsed]="timeElapsed"
      [questions]="iteratorService.questions"
      [userAnswers]="iteratorService.userAnswers"
      [correctAnswers]="iteratorService.correctAnswers">
    </app-show-results>
  </ion-row>
</ion-content>

<!-- virtual keyboard -->
<ion-footer class="challenge">
  <ng-container *ngIf="currentIteration <= totalIterations">
    <app-virtual-keyboard #keyboard (value)="insertValue($event)" (results)="insertResult($event)"></app-virtual-keyboard>
  </ng-container>
  <ng-container *ngIf="currentIteration > totalIterations">
    <ion-button expand="block" class="newChallenge" (click)="newChallenge()">New Challenge</ion-button>
  </ng-container>
</ion-footer>
